@font-face {
    font-family: 'Behdad';
    src: url('normal/behdad-normal.woff2') format('woff2'),
    url('normal/behdad-normal.woff') format('woff'),
    url('normal/behdad-normal.ttf') format('truetype'),
    url('normal/behdad-normal.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}