@font-face {
    font-family: 'Noon';
    src: url('normal/noon-normal.woff2') format('woff2'),
    url('normal/noon-normal.woff') format('woff'),
    url('normal/noon-normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}