@font-face {
    font-family: 'Farbod';
    src: url('normal/farbod-normal.woff2') format('woff2'),
    url('normal/farbod-normal.woff') format('woff'),
    url('normal/farbod-normal.ttf') format('truetype'),
    url('normal/farbod-normal.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}